<form #formref = "ngForm" (ngSubmit)="formref.form.valid && onSubmit(formref.value)">
    <h4 class="text-center m-4">Reset Password</h4>
    <div class="inp">
        <span><fa-icon [icon]="faUserTie"></fa-icon></span>
        <input type="text"  id="username" name="username" placeholder="Username" ngModel  required #username="ngModel" autocomplete="off">
        <span *ngIf="formref.submitted || (username.touched)">
            <span *ngIf="username.errors?.required" class="text-danger err">Please enter username</span>
        </span>
    </div>
    <div class="inp">
        <span><fa-icon [icon]="faKey"></fa-icon></span>
        <input type="password" id="password" name="password" placeholder="Password" ngModel  required minlength="4" #password="ngModel">
        <span *ngIf="formref.submitted || password.touched || password.dirty">
            <span *ngIf="password.errors?.required" class="text-danger err">Please enter password</span>
            <span *ngIf="password.errors?.minlength" class="text-danger err">Atleast 4 characters</span>
        </span>
    </div>
    <div class="inp">
        <span><fa-icon [icon]="faKey"></fa-icon></span>
        <input type="password" id="cpassword" name="cpassword" placeholder="Confirm Password" ngModel  required minlength="4" #cpassword="ngModel">
        <span *ngIf="formref.submitted || cpassword.touched || cpassword.dirty">
            <span *ngIf="cpassword.errors?.required" class="text-danger err">Please enter password</span>
            <span *ngIf="cpassword.errors?.minlength" class="text-danger err">Atleast 4 characters</span>
        </span>
    </div>
    <div class="button">
        <button class="btn">Reset</button>
    </div>
</form>
   

