<div class="container" style="position: relative;">
    <div class="searchbox">
        <input class="searchinp" type="text" name="search" id="search" placeholder="Search Here" autocomplete="off" [(ngModel)]="searchTerm">
        <span class="searchicon"><fa-icon [icon]="faSearch"></fa-icon></span>
    </div>
    <div class="row mt-4">
        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">   
            <button class="btn w-100 splbtn" (click)="transform()" id="t1">Add Notes</button>
            <div class="splform" id="t2">
                <div class="inp">
                    <span><fa-icon [icon]="faPencilAlt"></fa-icon></span>
                    <input type="text" id="title1" name="title" placeholder="Title" [(ngModel)]="activityObj2.title" #r1="ngModel" required autocomplete="off">
                    <span *ngIf="r1.touched && r1.errors?.required">
                        <span class="text-danger err">Provide a title</span>
                    </span>
                </div>
                <div class="inp">
                    <span><fa-icon [icon]="faStickyNote"></fa-icon></span>
                    <input type="text" id="activity1" name="activity" placeholder="Activity" [(ngModel)]="activityObj2.activity" #r2="ngModel" required autocomplete="off">
                    <span *ngIf="r2.touched && r2.invalid">
                        <span class="text-danger err">Provide description</span>
                    </span> 
                </div>
                <div class="mt-3 mb-3 show1">
                    <a class="btn sbtn" (click)="remind(activityObj.id)"><span class="vanish">Remind</span><fa-icon [icon]="faStopwatch" class="icon"></fa-icon></a>
                    <a class="btn sbtn" (click)="add()"><span class="vanish">Add</span><fa-icon [icon]="faPlus"  class="icon"></fa-icon></a>
                    <a class="btn sbtn" (click)="close()"><span class="vanish">Close</span><fa-icon [icon]="faTimes" class="icon"></fa-icon></a>
                </div>
            </div> 
        </div>
    </div>

    <div class="row row-cols-1 row-cols-md-3 row-cols-lg-3">
        <span *ngFor="let activity of activities | search : searchTerm; let i = index ">
            <div class="col mt-5" *ngIf="i<level" style="height: 90%;">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="m-2">{{activity.title}}</h5>
                        <p class="m-2">{{activity.activity}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="space">
                            <a  (click)="remind(activity.id)"><fa-icon [icon]="faStopwatch"></fa-icon></a>
                            <a  (click)="gotoModal(activity)" data-bs-toggle="modal" data-bs-target="#Modal"><fa-icon [icon]="faPencilAlt"></fa-icon></a>
                            <a  (click)="delete(activity.id)"><fa-icon [icon]="faTrash"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>

    <div class="row  row-cols-1 row-cols-md-2" *ngIf="two">
        <span *ngFor="let activity of two | search : searchTerm">
            <div class="col mt-5" style="height: 90%;" *ngIf="remainder==2">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="m-2">{{activity.title}}</h5>
                        <p class="m-2">{{activity.activity}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="space">
                            <a  (click)="remind(activity.id)"><fa-icon [icon]="faStopwatch"></fa-icon></a>
                            <a  (click)="gotoModal(activity)" data-bs-toggle="modal" data-bs-target="#Modal"><fa-icon [icon]="faPencilAlt"></fa-icon></a>
                            <a  (click)="delete(activity.id)"><fa-icon [icon]="faTrash"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </span>
    </div>

    <div class="row row-cols-1 mt-5" *ngIf="one">
        <div *ngFor="let activity of one | search : searchTerm">
            <div class="col" *ngIf="remainder==1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="m-2">{{activity.title}}</h5>
                        <p class="m-2">{{activity.activity}}</p>
                    </div>
                    <div class="card-footer">
                        <div class="space">
                            <a  (click)="remind(activity.id)"><fa-icon [icon]="faStopwatch"></fa-icon></a>
                            <a  (click)="gotoModal(activity)" data-bs-toggle="modal" data-bs-target="#Modal"><fa-icon [icon]="faPencilAlt"></fa-icon></a>
                            <a  (click)="delete(activity.id)"><fa-icon [icon]="faTrash"></fa-icon></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>   
    </div> 
   
    <div class="modal fade" id="Modal" data-bs-backdrop="static">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-body">
                <a data-bs-dismiss="modal" class="modalbtn"><fa-icon [icon]="faTimes"></fa-icon></a>
                <input type="text" class="form-control m-2 inp1" id="title2" name="title" placeholder="Enter Title" [(ngModel)]="activityObj.title" autocomplete="off">
                <input type="text" class="form-control m-2 inp1" id="activity2" name="activity" placeholder="Enter Activity" [(ngModel)]="activityObj.activity" autocomplete="off">
            </div>
            <div class="modal-footer">
                <div class="show1 w-100">
                    <a (click)="remind(activityObj.id)" data-bs-dismiss="modal"><fa-icon [icon]="faStopwatch"></fa-icon></a>
                    <a (click)="save()" data-bs-dismiss="modal"><fa-icon [icon]="faSave"></fa-icon></a>
                    <a (click)="delete(activityObj.id)" data-bs-dismiss="modal"><fa-icon [icon]="faTrash"></fa-icon></a>
                </div>
            </div>
          </div>
        </div>
    </div>
</div> 
 
